fastapi
uvicorn[standard]
pydantic
pydantic-settings
litellm
pandas==2.1.2
chromadb
sentence-transformers
langchain
pypdf
numpy
pdf2image
pytesseract
Pillow
ddgs
scikit-learn==1.4.0
sqlalchemy
psycopg2-binary